@charset "UTF-8";

body {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: blueviolet;
    background-color: rgb(204, 178, 228);
}

p {
    text-align: justify;
}